.nav_list_item{
  border: 1px solid #DADADA;
  text-align: center;
  width: 300px;
  margin: 20px;
  box-sizing: content-box;
  /* border-radius: 5%; */
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  background-color: rgba(0,132,225, .3);
}

.nav_list_item >h3{
  margin: 0;
  padding: 10px;
}

.nav_list_item_content a{
  display: block;
  height: 50px;
  line-height: 50px;
  text-decoration: none;
  border-top: 1px solid #DADADA;
  color: black;
  transition: .3s;
  background: #FFF;
}

.nav_list_item_content a:visited{ color: black; }

.nav_list_item_content a.super{
  color: white;
  background-color: #ff7a45;
}

.nav_list_item_content a.high{
  color: white;
  background-color: #ffc53d;
}


.nav_list_item_content a:hover{ color: #00BCFF; }