header{
  padding: 10px;
  background-color: #DDDDDD;
}

.header_content{
  max-width: 1000px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.header_content .header_search input{
    box-sizing: content-box;
    width: 208px;
    font-size: 14px;
    padding: 6px 0 6px 15px;
    outline: none;
    border: 1px solid #DDD;
    transition: .3s;
    color: #808080;
}

.header_content .header_search input:focus{
  
  outline:none;
  border: 1px solid #00BCFF;
}

.header_content .header_search input:hover{
  outline:none;
  border: 1px solid #00BCFF;
}

.author{
  margin-top: 5px;
  font-size: 12px;
}